@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
body {
  margin: 0;
  paddin: 0;
  background-image: url("./img/paper.png");
  font-family: 'Walter Turncoat', cursive;
}

h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #1E90FF;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.white {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  float: left;
  margin: 0;
  padding: 0;
  backgroun-color: white;
}

.pink, .red, .blue, .green, .brown, .black, .yellow {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  float: left;
  margin: 0;
  padding: 0;
}

.pink {
  background-color: magenta;
  color: pink;
}

.red {
  background-color: red;
}

.blue {
  background-color: #1E90FF;
}

.green {
  background-color: #2E8B57;
}

.brown {
  background-color: #8B4513;
}

.black {
  background-color: black;
}

.yellow {
  background-color: #DAA520;
}

.colors {
  postion: relative;
  diplay: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.select {
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;
  text-align: center;
}

.select-pink {
  color: magenta;
}

.select-red {
  color: red;
}

.select-yellow {
  color: #DAA520;
}

.select-blue {
  color: #1E90FF;
}

.select-green {
  color: #2E8B57;
}

.select-brown {
  color: #8B4513;
}

.select-black {
  color: black;
}

.select-white {
  color: white;
  background: #1E90FF;
  padding: 0 5px;
}

.outbox {
  position: relative;
  display: block;
  width: 576px;
  height: 576px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.inbox {
  position: relative;
}

@media screen and (max-width: 600px) {
  .colors {
    width: 80%;
  }
  .white {
    width: 19px;
    height: 19px;
  }

  .pink, .red, .blue, .green, .brown, .black, .yellow {
    width: 19px;
    height: 19px;
  }

  .outbox {
    width: 378px;
    height: 378px;
  }
}

@media screen and (max-width: 400px) {
  .white {
    width: 15px;
    height: 15px;
  }

  .pink, .red, .blue, .green, .brown, .black, .yellow {
    width: 15px;
    height: 15px;
  }

  .outbox {
    width: 306px;
    height: 306px;
  }
}